.container {
    max-width: 640px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.box {
    flex: 1 1 auto;
    aspect-ratio: 1 / 1 ;
}